PORT=3000
KV_API_BASE_URL=https://api.kintsugihealth.com
KV_API_KEY=
KV_INITIATE_PATH=/v1/initiate
KV_PREDICT_PATH=/v2/prediction/
KV_RESULT_PATH_TEMPLATE=/v2/predict/sessions/{session_id}
KV_POLL_INTERVAL_MS=1000
KV_POLL_TIMEOUT_MS=30000
MAX_UPLOAD_BYTES=10485760
MIN_AUDIO_DURATION_MS=30000
