PORT=3000
LOCAL_MODEL_SERVICE_URL=http://127.0.0.1:8001
LOCAL_MODEL_TIMEOUT_MS=120000
LOCAL_MODEL_QUANTIZE=true
MAX_UPLOAD_BYTES=10485760
MIN_AUDIO_DURATION_MS=30000
MAX_AUDIO_DURATION_MS=180000
MAX_INFERENCE_SECONDS=90
